/***** COLORS *****/


/*  General background (html):  #2c363f
    Main background (.wrapper):  #e6e4e3
    Font-color (body):  #2c363f
    Button color:  #d90368
    Button text:  #e6e4e3
    border color:  #313b72
*/


/***** CSS RESET *****/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/***** GENERAL STYLES *****/

html {
    font-size: 18px;
    background-color: #2c363f;
}

body {
    font-family: 'Arimo', sans-serif;
}


/***** FORM STYLES *****/

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #e6e4e3;
    color: #2c363f;
    border-radius: 15px;
}

.wrapper h1 {
    font-size: 3rem;
    margin-top: 2.5rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.wrapper h1 a {
    text-decoration: none;
}

.wrapper h1 a:visited {
    text-decoration: none;
    color: #2c363f;
}

.wrapper form {
    padding-bottom: 1.7rem;
}

.wrapper form label {
    display: none;
    font-family: "Arimo", sans-serif;
}

.wrapper form input {
    width: 80%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arimo", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
}

.wrapper form button {
    width: 200px;
    height: 50px;
    margin-top: 1.4rem;
    font-size: 1.4rem;
    background-color: #d90368;
    color: #e6e4e3;
    border-radius: 10px;
}

.wrapper form button:hover {
    background-color: #8b0243;
}

.wrapper #results-section ul {
    overflow: hidden;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1rem;
    list-style-type: none;
}

.wrapper #results-section li {
    float: left;
    max-width: 400px;
    margin-bottom: 2em;
    margin-left: 1em;
    padding: 1em;
    border: 1px solid #d90368;
    border-radius: 10px;
    color: #2c363f;
}

.wrapper #results-section li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 10px;
}

.wrapper #results-section li p {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #d90368;
    min-height: 4rem;
}
